.product-item img {
    width: 100%;
}

.product-item {
    width: 100%;
    transition: transform 0.5s;
}

.product-item:hover{
    transform: translateY(-2%);
}

.product__item--category p {
    color: gray;
}
